<footer>
  <div class="fbox fbox1">
    <div class="ffbox ffbox1">
      <h2>Address</h2>
      <div class="address-box">
        <div class="address-icon">
          <i class="bx bx-location-plus"></i>
        </div>
        <h3>No.123 Chalingt Gates</h3>
      </div>
      <div class="address-box">
        <div class="address-icon">
          <i class="bx bx-phone-call"></i>
        </div>
        <h3>No.123 Chalingt Gates</h3>
      </div>
      <div class="address-box">
        <div class="address-icon">
          <i class="bx bx-envelope"></i>
        </div>
        <h3>No.123 Chalingt Gates</h3>
      </div>
    </div>
    <div class="ffbox ffbox2">
      <h2>Social Link</h2>
      <div class="address-box">
        <div class="address-icon">
          <i class="bx bxl-facebook"></i>
        </div>
        <h3>Facebook</h3>
      </div>
      <div class="address-box">
        <div class="address-icon">
          <i class="bx bxl-instagram"></i>
        </div>
        <h3>Instagram</h3>
      </div>
      <div class="address-box">
        <div class="address-icon">
          <i class="bx bxl-twitter"></i>
        </div>
        <h3>Twitter</h3>
      </div>
    </div>
    <div class="ffbox ffbox3">
      <h2>Newsletter</h2>
      <form action="">
        <input type="email" placeholder="Email" required /><br />
        <button>Subscribe</button>
      </form>
    </div>
  </div>
  <div class="fbox fbox2">
    <p>Copyright 2023 By Arbeit Limited</p>
  </div>
</footer>
