<header>
  <div class="logo">
    <img src="images/logo.png" alt="logo" />
  </div>
  <nav id="nav">
    <ul>
      <li><a href="/home" class="active">Home</a></li>
      <li><a href="/about">About</a></li>
      <li>
        <a>Registration</a>
        <ul>
          <li><a href="/audiance-registration">Audiance</a></li>
          <li><a href="/participate-registration">Participate</a></li>
        </ul>
      </li>
      <li><a href="/blogs">Blog</a></li>
      <li><a href="/login">Log In</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <div class="toggle" id="toggle">
    <i class="bx bx-menu"></i>
  </div>
</header>
