<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- css link -->
    <link rel="stylesheet" href="./css/about.css" />
    <link rel="stylesheet" href="./css/home.css" />
    <!-- icon link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- favicon -->
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
    <title>Document</title>
    <style>
      .activelink {
        background-color: #f39c12;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="about">
      <!-- header -->
      <%-include("./partials/header.ejs")%>
      <!-- header -->
      <div class="abouther">
        <div class="aboutherobox">
          <h1>
            About <br />
            ShotterShondhane
          </h1>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled.
          </p>
        </div>
      </div>
      <section class="host" id="aboutsee">
        <div class="hostbox hostleft">
          <h1>Abdul Mustofa Rahim Al-Azhari</h1>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. <span>PHP Limited.</span>
          </p>
        </div>
        <div class="hostbox hostright">
          <div class="borderbox">
            <img src="images/host.png" alt="host" />
          </div>
        </div>
      </section>
      <section class="host" id="hostbox2">
        <div class="hostbox hostright">
          <div class="borderbox">
            <img src="images/host.png" alt="host" />
          </div>
        </div>
        <div class="hostbox hostleft">
          <h1>Abdul Mustofa Rahim Al-Azhari</h1>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. <span>PHP Limited.</span>
          </p>
        </div>
      </section>
      <section class="host" id="aboutsee">
        <div class="hostbox hostleft">
          <h1>Abdul Mustofa Rahim Al-Azhari</h1>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. <span>PHP Limited.</span>
          </p>
        </div>
        <div class="hostbox hostright">
          <div class="borderbox">
            <img src="images/host.png" alt="host" />
          </div>
        </div>
      </section>
      <!-- --------Participate Regulation ---------------- -->
      <section class="participate-regulation">
        <div class="participate-text">
          <h1>Participate Regulation</h1>
        </div>
        <div class="regulation-main">
          <div class="regulation-box"></div>
          <div class="regulation-box"></div>
          <div class="regulation-box"></div>
          <div class="regulation-box"></div>
          <div class="regulation-box"></div>
          <div class="regulation-box"></div>
        </div>
      </section>

      <!-- --------Participate Regulation ---------------- -->

      <!-- --------Media management group---------------- -->

      <section class="media">
        <div class="mediatext">
          <h1>Media management group</h1>
        </div>
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="mediab medialeft">
                <h3>ZERO TO CAREER</h3>
                <h1>ZERO TO CAREER</h1>
                <p>
                  You will get everything from the <span> beginning</span> of
                  your
                </p>
                <p>journey until you get an internship or a full-time job.</p>
              </div>
              <div class="mediab mediaright">
                <img src="images/mediapicture.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="mediab medialeft">
                <h3>ZERO TO CAREER</h3>
                <h1>ZERO TO CAREER</h1>
                <p>
                  You will get everything from the <span> beginning</span> of
                  your
                </p>
                <p>journey until you get an internship or a full-time job.</p>
              </div>
              <div class="mediab mediaright">
                <img src="images/mediapicture.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="mediab medialeft">
                <h3>ZERO TO CAREER</h3>
                <h1>ZERO TO CAREER</h1>
                <p>
                  You will get everything from the <span> beginning</span> of
                  your
                </p>
                <p>journey until you get an internship or a full-time job.</p>
              </div>
              <div class="mediab mediaright">
                <img src="images/mediapicture.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- --------Media management group ---------------- -->
      <!-- footer -->
      <%-include("./partials/footer.ejs")%>
      <!-- footer -->
    </div>
    <!-- toggle code -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        effect: "cards",
        grabCursor: true,
      });
      let currlink = window.location.pathname.split("/").pop();
      let linkactive = document.querySelectorAll("ul li a").forEach((e) => {
        if (e.href.includes(currlink)) {
          e.classList.add("activelink");
        }
      });
      let navi = document.getElementById("nav");
      let togg = document.getElementById("toggle");
      togg.addEventListener("click", function () {
        navi.classList.toggle("navigation");
      });
    </script>
  </body>
</html>
