<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- css link -->
    <link rel="stylesheet" href="./css/home.css" />
    <!-- <link rel="stylesheet" href="./css/about.css" /> -->
    <!-- icon link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <!-- favicon -->
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
    <title>Shotter-Shondhane</title>
    <style>
      .activelink {
        background-color: #f39c12;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="home">
      <!-- header -->
      <%-include("./partials/header.ejs")%>
      <!-- header -->
      <!-- hero section -->
      <div class="hero">
        <div class="hbox">
          <h1>Wide Your Knowledge</h1>
          <h1>By Participating <span>ShotterShondhane</span></h1>
          <p>
            This is a Islamic show .That will help you everybody to <br />
            acqire some Islamic knowledge .This is presented by
            <br />
            <span>PHP Limited. </span>
          </p>
          <button>Participate Now</button>
        </div>
      </div>
      <!-- hero section -->
    </div>
    <!-------------------------- host-------------------- -->
    <section class="host">
      <div class="hostbox hostleft">
        <h1>Abdul Mustofa Rahim Al-Azhari</h1>
        <p>
          This is a Islamic show .That will help you everybody to acqire some
          Islamic knowledge .This is presented by <span>PHP Limited.</span
          ><br /><a href="/about">Read more...</a>
        </p>
      </div>
      <div class="hostbox hostright">
        <div class="borderbox">
          <img src="images/host.png" alt="host" />
        </div>
      </div>
    </section>
    <section class="host" id="hostbox2">
      <div class="hostbox hostright">
        <div class="borderbox">
          <img src="images/host.png" alt="host" />
        </div>
      </div>
      <div class="hostbox hostleft">
        <h1>Abdul Mustofa Rahim Al-Azhari</h1>
        <p>
          This is a Islamic show .That will help you everybody to acqire some
          Islamic knowledge .This is presented by <span>PHP Limited.</span
          ><br /><a href="/about">Read more...</a>
        </p>
      </div>
    </section>
    <section class="host">
      <div class="hostbox hostleft">
        <h1>Abdul Mustofa Rahim Al-Azhari</h1>
        <p>
          This is a Islamic show .That will help you everybody to acqire some
          Islamic knowledge .This is presented by <span>PHP Limited.</span
          ><br />
          <a href="/about">Read more...</a>
        </p>
      </div>
      <div class="hostbox hostright">
        <div class="borderbox">
          <img src="images/host.png" alt="host" />
        </div>
      </div>
    </section>
    <!-------------------------- host-------------------- -->

    <!----------------- description------------------------- -->
    <div class="description">
      <div class="text">
        <h1>Who Can Participate</h1>
      </div>
      <div class="desmain">
        <div class="desbox">
          <i class="bx bx-check-double"></i>
          <h1>Every boy can participate</h1>
        </div>
        <div class="desbox">
          <i class="bx bx-check-double"></i>
          <h1>Every boy can participate</h1>
        </div>
        <div class="desbox">
          <i class="bx bx-check-double"></i>
          <h1>Every boy can participate</h1>
        </div>
        <div class="desbox">
          <i class="bx bx-check-double"></i>
          <h1>Every boy can participate</h1>
        </div>
        <div class="desbox">
          <i class="bx bx-check-double"></i>
          <h1>Every boy can participate</h1>
        </div>
        <div class="desbox">
          <i class="bx bx-check-double"></i>
          <h1>Every boy can participate</h1>
        </div>
        <div class="desbox">
          <i class="bx bx-check-double"></i>
          <h1>Every boy can participate</h1>
        </div>
        <div class="desbox">
          <i class="bx bx-check-double"></i>
          <h1>Every boy can participate</h1>
        </div>
        <div class="desbox">
          <i class="bx bx-check-double"></i>
          <h1>Every boy can participate</h1>
        </div>
      </div>
    </div>
    <!----------------- description------------------------- -->

    <!-- --------------------prizes------------------------ -->
    <div class="prizes">
      <div class="prixtext">
        <h1>Prizes For Winners</h1>
      </div>
      <div class="primain">
        <div class="prizbox">
          <h2>First</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
            perferendis doloribus cum minus similique incidunt alias asperiores
            magnam quam adipisci.
          </p>
        </div>
        <div class="prizbox">
          <h2>Second</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
            perferendis doloribus cum minus similique incidunt alias asperiores
            magnam quam adipisci.
          </p>
        </div>
        <div class="prizbox">
          <h2>Third</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
            perferendis doloribus cum minus similique incidunt alias asperiores
            magnam quam adipisci.
          </p>
        </div>
      </div>
    </div>
    <!-- --------------------prizes------------------------ -->

    <!-- ---------------sponser-------------- -->

    <div class="sponser">
      <div class="sptext">
        <h1>Sponser</h1>
      </div>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="images/comitee.png" alt="image" />
          </div>
          <div class="swiper-slide">
            <img src="images/php.png" style="width: 300px" alt="image" />
          </div>
          <div class="swiper-slide">
            <img src="images/asia.png" alt="image" />
          </div>
          <div class="swiper-slide">
            <img src="images/comitee.png" alt="image" />
          </div>
          <div class="swiper-slide" id="phpimg">
            <img src="images/php.png" alt="image" />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <!-- ---------------sponser-------------- -->

    <!-- footer -->
    <%-include("./partials/footer.ejs")%>
    <!-- footer -->
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <!-- toggle code -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });
      let navi = document.getElementById("nav");
      let togg = document.getElementById("toggle");
      togg.addEventListener("click", function () {
        navi.classList.toggle("navigation");
      });
      // var ul = document.querySelector("#nav ul");
      // var li = document.querySelector("#nav ul li");
      // li.addEventListener("click", (e) => {});
      // let currlink = window.location.pathname.split("/").pop();
      // let linkactive = document.querySelectorAll("ul li a").forEach((e) => {
      //   if (e.href.includes(currlink)) {
      //     e.classList.add("activelink");
      //   }
      // });
    </script>
  </body>
</html>
